.current {
  &__title {
    @include on-tablet {
      @include content-padding-inline;
    }
  }

  &__body {
    display: grid;
    row-gap: 60px;

    @include on-tablet {
      row-gap: 112px;
    }

    @include on-desktop {
      row-gap: 104px;
    }
  }

  &__events {
    display: grid;
    row-gap: 60px;

    @include content-padding-inline;

    @include on-tablet {
      row-gap: 64px;
    }

    @include on-desktop {
      row-gap: 104px;
    }
  }

  &__event {
    @include on-tablet {
      @include page-grid;
    }
  }

  &__featured {
    @include full-bleed;
  }
}
