.main {
  &__content {
    display: grid;
    row-gap: 100px;
    padding-block-start: 70px;

    @include on-tablet {
      row-gap: 88px;
      padding-block-start: 88px;
    }

    @include on-desktop {
      row-gap: 200px;
      padding-block-start: 200px;
    }
  }
}
