.nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 28px;

    margin: 0;
    padding: 0;

    list-style: none;

    @include on-tablet {
      grid-template-columns: repeat(2, 100px);
      column-gap: 20px;
    }

    @include on-desktop {
      grid-template-columns: repeat(2, 169px);
      gap: 30px;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    color: $c-white;
    text-decoration: none;

    @include hover(opacity, 0.65);

    @include on-desktop {
      font-size: 22px;
    }
  }

  &__list--footer {
    gap: 20px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(2, 169px);
      gap: 20px 32px;
    }
  }

  &__link--footer {
    font-size: 14px;
    font-weight: 400;
    color: $c-text-primary;
  }
}
