.schedule {
  font-size: 14px;
  line-height: 1.5;

  &__title {
    margin-block: 0 20px;
    line-height: 1.4;
  }

  &__columns {
    @include on-tablet {
      display: flex;
      gap: 38px;
    }
  }

  &__list {
    margin-block: 0 16px;
  }

  &__row {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    justify-content: flex-end;
  }

  &__hours {
    margin: 0;
    font-weight: 600;
  }

  &__info {
    @include on-tablet {
      max-width: 144px;
    }

    @include on-desktop {
      max-width: 170px;
    }
  }

  &__info-text {
    margin: 0;
  }

  &__accent {
    font-weight: 600;
  }
}
