.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

%event-category {
  font-weight: 500;
  line-height: 1;
  color: $c-category;
}

%event-date {
  font-weight: 700;
  line-height: 1.5;
  color: $c-accent;
}
