$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$mobile-margin: 20px;
$tablet-margin: 39px;
$desktop-margin: 55px;
$c-black: #000;
$c-text-primary: #0f0e08;
$c-text-body: #4e4e4e;
$c-accent: #1a5a4c;
$c-accent-secondary: #f14a27;
$c-white: #fff;
$c-category: #687480;
$c-dot-inactive: #e0e0e0;
$c-facebook: #1877f2;
$f-heading: 'Montserrat', sans-serif;
$f-body: 'IBM Plex Sans', sans-serif;
